<configuration>
  <connectionStrings>
    <add name="RegestryPets"
         connectionString="Host=localhost;Database=registry_pets_main;Username=postgres;Password=admin"/>
     <add name="SmtpLogin"
         connectionString="noreply.petregistry@gmail.com"/>
      <add name="SmtpPassword"
         connectionString="srkvkmjqzsthedon"/>
  </connectionStrings>
</configuration>